.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 0px 50px 50px;
  border: 1px dotted black;
  background-color: #33FFFF;
  font-family: serif;
}

table {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: #66FF66;
  font-weight: bold;
}

td {
  width: 100px;
  height: 100px;
  border: 1.5px solid #FFFF66;
}