<div class="container">
  <h1>2048 Game</h1>
  <p>Press arrow keys to play.</p>
  <table>
    <% 4.times do |x| %>
      <tr>
        <% 4.times do |y|%>
          <td id="<%= x.to_s + y.to_s %>"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <script type="text/javascript">
    $(document).ready(function() {
     });
  </script>

</div>
